.form-group
  %label{for: "evaluation_item1_mean", class: "col-sm-2 control-label"} Item 1 Mean
  .col-sm-4
    = f.text_field :item1_mean, class: "form-control", placeholder: "e.g. 4.32"

  %label{for: "evaluation_item2_mean", class: "col-sm-2 control-label"} Item 2 Mean
  .col-sm-4
    = f.text_field :item2_mean, class: "form-control", placeholder: "e.g. 4.32"

.form-group
  %label{for: "evaluation_item3_mean", class: "col-sm-2 control-label"} Item 3 Mean
  .col-sm-4
    = f.text_field :item3_mean, class: "form-control", placeholder: "e.g. 4.32"

  %label{for: "evaluation_item4_mean", class: "col-sm-2 control-label"} Item 4 Mean
  .col-sm-4
    = f.text_field :item4_mean, class: "form-control", placeholder: "e.g. 4.32"

.form-group
  %label{for: "evaluation_item5_mean", class: "col-sm-2 control-label"} Item 5 Mean
  .col-sm-4
    = f.text_field :item5_mean, class: "form-control", placeholder: "e.g. 4.32"

  %label{for: "evaluation_item6_mean", class: "col-sm-2 control-label"} Item 6 Mean
  .col-sm-4
    = f.text_field :item6_mean, class: "form-control", placeholder: "e.g. 4.32"

.form-group
  %label{for: "evaluation_item7_mean", class: "col-sm-2 control-label"} Item 7 Mean
  .col-sm-4
    = f.text_field :item7_mean, class: "form-control", placeholder: "e.g. 4.32"

  %label{for: "evaluation_item8_mean", class: "col-sm-2 control-label"} Item 8 Mean
  .col-sm-4
    = f.text_field :item8_mean, class: "form-control", placeholder: "e.g. 4.32"


