%h1 Import course names data

= form_tag({action: :upload}, multipart: true) do
  .form-group
    %label{ for: "data_file" } Data File
    = file_field_tag 'data_file'
    %p.help-block
      Please note that the file
      %strong MUST
      be in
      %u XLSX
      format.
  = submit_tag 'Upload Table', class: "btn btn-primary"
  = link_to "Add Course Names", course_name_index_path, class: "btn btn-primary"
  = link_to "Cancel", root_path, class: "btn btn-primary"
