%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FacultyReportPreparation
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags


  %body{:class => "hold-transition skin-blue-light layout-top-nav"}
    %div{:class => "wrapper"}
      // header:
      %header{:class => "main-header"}

        // Header Navbar: style can be found in header.less
        %nav{:class => "navbar navbar-static-top"}

          .navbar-custom-menu
            %ul.nav.navbar-nav
              %li{role: "presentation"}
                = link_to "Home", "/" # root_path
              %li
                = link_to "Evaluation Data", evaluation_index_path
              %li
                = link_to "Faculty Member Data", instructor_index_path
              %li{role: "presentation"}
                - if user_signed_in?
                  = link_to "Sign out", destroy_user_session_path, method: :delete
                - else
                  = link_to "Sign in", new_user_session_path
    
      // content:
      .content-wrapper
        %section.content
          - if notice.present?
            %div.alert.alert-info= notice
          - if alert.present?
            %div.alert.alert-warning= alert
          - if flash[:errors].present? && flash[:errors].respond_to?(:full_messages)
            - flash[:errors].full_messages.each do |error|
              %div.alert.alert-danger= error
          - elsif flash[:errors].present? && flash[:errors].instance_of?(String)
            %div.alert.alert-danger= flash[:errors]
      
        
          = content_for?(:content) ? yield(:content) : yield